*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    font-family: Arial;
}
.mainbox{
    background-color: #8CBDE1;
    width: 1200px;
    height: 1300px;
    margin-top: 50px;
    margin-left: 155px;
    overflow: hidden;
}
.khoitieude{
    display: block;
    width: 900px;
    height: 237px;
    margin-left: 145px;
    margin-top: 30px;
    overflow: hidden;
    border: 5px solid white;
}
.fonttieude{
    color: white;
}
.khoinoidung{
    background-color: white;
    height: 1000px;
    width: 900px;
    margin-left: 145px;
    margin-top: 10px;
}
.noidung1{
    height: 1000px;
    width: 225px;
    background-color: #AFD3EB;
    margin-left: 10px;
    padding-top: 10px;
    float: left;


}
p{  line-height: 1.25;
    color: #1779CA;
    font-size:13px;
    font-weight:bold;
    padding-left: 5px;

}
b{
    font-size:21px;
    color: #1D5174;
    padding-left: 10px;
    display: block;
}
.noidung2{
    height: 1000px;
    width: 410px;
    background-color: #E0F8F7;
    margin-left: 10px;
    float: left;
}
.noidung3 {
    height: 1000px;
    width: 225px;
    margin-left:10px ;
    float: left;

}
.noidung2 p{
    line-height: 1.25;
    color: #000000;
    font-size:12px;

}
.content1{
    height: 200px;
    width: 225px;
    background-color: #AFD3EB;
}

.content2{
    height: 200px;
    width: 225px;
    background-color: #AFD3EB;
}
h3{
    color: #0000FF;
    font-size:14px;
    font-weight:bold
}


